footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;
  font-size: 12px;
  font-weight: var(--fw-300);
  text-align: center;
}

footer a {
  font-size: 12px;
  font-weight: var(--fw-300);
  text-align: center;
}
