/* use this file to add css resets */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: #fafafa;
  --clr-neutral-300: #e4e5f1;
  --clr-neutral-350: #E3E4F1;
  --clr-neutral-400: #d2d3db;
  --clr-neutral-500: #9394a5;
  --clr-neutral-600: #484b6a;
  --clr-neutral-700: #494C6B;
  --clr-neutral-800: #393A4B;
  --clr-neutral-900: hsl(0, 0%, 0%);

  --clr-100: #5B5E7E;
  --clr-200: #C8CBE7;
  --clr-300: #25273D;
  --clr-400: #171823;
  --clr-500: #4D5067;
  --clr-600: #767992;


  --clr-primary-100: #D1D2DA;
  --clr-primary-200: #3A7CFD;

  /* Primary */
  --clr-active: hsl(220, 98%, 61%);
  --check-background: linear-gradient(
    135deg,
    hsl(192, 100%, 67%) 0%,
    hsl(280, 87%, 65%) 80%,
    hsl(280, 87%, 65%) 100%
  );
  /* Light theme */

  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue-lt: hsl(233, 11%, 84%);
  --dark-grayish-blue-lt: hsl(236, 9%, 61%);
  --very-dark-grayish-blue-lt: hsl(235, 19%, 35%);
  --box-shadow-lt: rgb(163, 163, 163);
  --icon-lt: url(/images/icon-moon.svg);
  --bg-mb-lt: url(/images/bg-mobile-light.jpg);
  --bg-dk-lt: url(/images/bg-desktop-light.jpg);
  /* Dark theme */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue-dt: hsl(234, 39%, 85%);
  --light-grayish-blue-dt/*hover*/: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue-one: hsl(233, 14%, 35%);
  --very-dark-grayish-blue-two: hsl(237, 14%, 26%);
  --box-shadow-dt: #000;
  --icon-dt: url(/images/icon-sun.svg);
  --bg-mb-dt: url(/images/bg-mobile-dark.jpg);
  --bg-dk-dt: url(/images/bg-desktop-dark.jpg);

  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;

  --ff-primary: "Josefin Sans", sans-serif;
}

/* RESET */

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font: inherit;
}

body,
div,
h1,
button,
span,
form,
input,
ul,
li {
  border: 0;
  vertical-align: baseline;
}

li {
  list-style: none;
}

body {
  color: #fffffe;
  background-color: #181824;
  font-family: var(--ff-primary);
  font-size: 1.125rem;
  font-weight: var(--fw-400);
}

/* LAYOUT */
.container {
  width: min(90%, 22rem); /* chooses 90% width on mobile  */
  margin-inline: auto;
}

.container h1 {
  font-size: 25px;
  font-weight: var(--fw-700);
  letter-spacing: 15px;
  text-transform: uppercase;
}

.toggle {
  width: 25px;
  aspect-ratio: 1;
  color: white;
}

.primary-header .container {
  display: flex;
  justify-content: space-between;
}

.control-info {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin-bottom: 2rem;
}

.items-control-group {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin: 2rem 0;
}

/* COMPONENTS */

.newTodo {
  margin-top: -75px;
  margin-bottom: 1rem;
  padding: 20px;
  border-radius: 4px;
  background-color: var(--very-dark-desaturated-blue);
}

.form-control {
  display: grid;
  grid-template-columns: 10% 1fr;
}

.form-control > * {
  align-items: center;
  height: 100%;
}

.form-control .checkbox {
  display: inline-flex;
  align-self: center;
  justify-self: center;
  width: 20px;
  aspect-ratio: 1;
  margin-right: 5px;
  border: 1px solid var(--very-dark-grayish-blue-two);
  border-radius: 50%;
}

.form-control input {
  font-size: 13px;
}

input,
.listItems,
.control-info,
.items-control-group {
  width: 100%;
  background-color: #25273c;
}

.listItems {
  margin-top: -30px;
  margin-bottom: 1rem;
  padding: 10px;
  border: 1px solid red;
  border-radius: 4px;
  background-color: var(--very-dark-desaturated-blue);
}

.control-info {
  margin-bottom: 2rem;
  padding: 0.5rem;
}

button {
  color: #fffffe;
  background: none;
  cursor: pointer;
}

button:hover,
button:focus {
  color: hsl(220, 98%, 61%);
  font-weight: var(--fw-400);
}

.control-info,
.items-control-group {
  font-weight: var(--fw-300);
}

@media (min-width: 600px) {
  .container,
  .controls-info,
  .items-control-group {
    width: 600px;
  }
  .todoControls {
    margin-top: 2rem;
  }
  .items-control-group {
    margin-top: -3.5em;
    width: 600px;
  }
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
