/* use this file to add css resets */

/* RESET */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

:root {
  /* Primary */
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(
    135deg,
    hsl(192, 100%, 67%) 0%,
    hsl(280, 87%, 65%) 80%,
    hsl(280, 87%, 65%) 100%
  );
  /* Light theme */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue-lt: hsl(233, 11%, 84%);
  --dark-grayish-blue-lt: hsl(236, 9%, 61%);
  --very-dark-grayish-blue-lt: hsl(235, 19%, 35%);
  --box-shadow-lt: rgb(163, 163, 163);
  --icon-lt: url(../images/icon-moon.svg);
  --bg-mb-lt: url(../images/bg-mobile-light.jpg);
  --bg-dk-lt: url(../images/bg-desktop-light.jpg);
  /* Dark theme */
  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue-dt: hsl(234, 39%, 85%);
  --light-grayish-blue-dt/*hover*/: hsl(236, 33%, 92%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue-one: hsl(233, 14%, 35%);
  --very-dark-grayish-blue-two: hsl(237, 14%, 26%);
  --box-shadow-dt: #000;
  --icon-dt: url(/images/icon-sun.svg);
  --bg-mb-dt: url(../images/bg-mobile-dark.jpg);
  --bg-dk-dt: url(../images/bg-desktop-dark.jpg);
}

body,
div,
h1,
button,
span,
form,
input,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: #fffffe;
  background-color: #181824;
}

/* LAYOUT */

.container {
  width: 350px;
  margin-inline: auto;
}

.container h1 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 15px;
}

.toggle {
  width: 25px;
  aspect-ratio: 1;
  color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
}

.control-info {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin-bottom: 2rem;
}

.items-control-group {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  margin: 2rem 0;
}

/* COMPONENTS */

.newTodo {
  background-color: var(--very-dark-desaturated-blue);
  padding: 20px;
  margin-bottom: 1rem;
  border-radius: 4px;
  margin-top: -75px;
}

.form-control {
  display: grid;
  grid-template-columns: 10% 1fr;
}

.form-control > * {
  height: 100%;
  align-items: center;
}

.form-control .checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--very-dark-grayish-blue-two);
  border-radius: 50%;
  align-self: center;
  justify-self: center;
  margin-right: 5px;
}

.form-control input {
  font-size: 13px;
}

input,
.listItems,
.control-info,
.items-control-group {
  width: 100%;
  background-color: #25273c;
}

.listItems {
  background-color: var(--very-dark-desaturated-blue);
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 4px;
  margin-top: -30px;
  border: 1px solid red;
}

.control-info {
  margin-bottom: 2rem;
  padding: 0.5rem;
}

button {
  background: none;
  color: #fffffe;
  cursor: pointer;
}

button:hover,
button:focus {
  font-weight: 400;
  color: hsl(220, 98%, 61%);
}

.control-info,
.items-control-group {
  font-weight: 300;
}

@media (min-width: 600px) {
  .container,
  .controls-info,
  .items-control-group {
    width: 600px;
  }
  .todoControls {
    margin-top: 2rem;
  }
  .items-control-group {
    margin-top: -3.5em;
    width: 600px;
  }
}
