.checkbox {
  position: absolute;
  width: 30px;
  aspect-ratio: 1;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  border: 0.1rem solid var(--dark-grayish-blue);
  border-radius: 50%;
  cursor: pointer;
}

.checkbox:focus,
.checkbox:hover {
  border-color: var(--bright-blue);
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light-grayish-blue-dt);
  background-color: var(--very-dark-desaturated-blue);
}

li > label {
  margin-left: 3em;
}