.container {
  width: min(90%, 22rem); /* chooses 90% width on mobile  */
  margin-inline: auto;
}

.newItem {
  position: relative;
  height: 48px;
  width: min(90%, 22rem);
  margin-inline: auto;
  margin-top: -5em;
}

.sr-only {
  position: absolute;
  left: -99999px;
}

input {
  height: 48px;
  padding-left: 2.75em;
  border-radius: .5em;
}

.checkbox {
  position: absolute;
  width: 30px;
  aspect-ratio: 1;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  border: 0.1rem solid var(--dark-grayish-blue);
  border-radius: 50%;
  z-index: 1000;
}

.checkbox:focus,
.checkbox:hover {
  border-color: var(--bright-blue);
}

/* TODO change the checked(?) state */
.checkbox:checked {
  background-color: var(--check-background);
}

input[type="text"] {
  color: var(--light-grayish-blue-dt);
  background-color: var(--very-dark-desaturated-blue);
}