.container {
  width: min(90%, 22rem); /* chooses 90% width on mobile  */
  margin-inline: auto;
}

.control-info {
  padding: .75em 0;
  border-top: .5px solid var(--dark-grayish-blue);
}

.control-info,
button {
  color: var(--dark-grayish-blue);
}

span {
  padding-left: .5em;
}

button {
  padding-right: .5em;
}