.primary-header {
  min-height: 30rem;
  background-image: var(--bg-header-image);
  background-repeat: no-repeat;
  background-size: cover;
}

.list-wrapper__input {
  margin-top: 1.5em;
  padding: .75em;
  background-color: var(--clr-secondary-700);
  border-radius: var(--b-radius);
}

.list-wrapper__input input {
  background-color: transparent;
}